@import url("https://fonts.googleapis.com/css?family=Monoton&display=swap");
.homepage {
  font-weight: bold;
  font-family: "Righteous", cursive;
  width: 100%;
  color: rgb(184, 233, 248);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .homepage-btn {
    a {
      font-size: 24px;
    }
  }

  @media screen and (max-width: 800px) {
    height: 60vh;
  }

  a {
    color: rgb(184, 233, 248);
    text-decoration: none;
    &:hover {
      color: #19a974;
    }
  }
  .homepage-name {
    -webkit-appearance: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 5px solid rgb(184, 233, 248);
    border-style: double;
    width: 30vw;
    height: 150px;
    min-height: 150px;
    font-size: 25px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    .name {
      min-width: 250px;
    }

    @keyframes fadeInAnimation {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @media screen and (max-width: 925px) {
      width: 80vw;
      font-size: 25px;
      margin: 10px;
    }
    @media screen and (max-width: 350px){
      font-size: 20px;
    }
  }
  .logo2 {
    font-family: "Monoton", cursive;
    font-weight: 200;
    font-size: 50px;
    @media screen and (max-width: 350px){
      font-size: 40px;
    }

  }
  
}
