@import url("https://fonts.googleapis.com/css?family=Monoton&display=swap");
.homepage {
  font-weight: bold;
  font-family: "Righteous", cursive;
  width: 100%;
  color: white;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  .homepage-btn {
    a {
      font-size: 24px;
    }
  }

  @media screen and (max-width: 800px) {
    height: 70vh;
  }

  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: #19a974;
    }
  }
  .homepage-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 5px solid white;
    border-style: double;
    width: 30vw;
    height: 150px;
    font-size: 25px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    @keyframes fadeInAnimation {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @media screen and (max-width: 800px) {
      width: 80vw;
      font-size: 30px;
      margin: 10px;
    }
  }
  .logo2 {
    font-family: "Monoton", cursive;
    font-weight: 200;
    font-size: 50px;
  }
}
