.portfolio-page {
  margin-left: 20vw;
  margin-right: 20vw;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
  animation: fadeInAnimation ease 3s;
  background-color: rgb(250, 247, 241);
  
      animation-iteration-count: 1;
      animation-fill-mode: forwards;

      @keyframes fadeInAnimation {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
  

  @media screen and (max-width: 800px) {
    flex-direction: column;
    padding: 0px;
    margin: 15px;
  }
}
