@import url("https://fonts.googleapis.com/css?family=Monoton&display=swap");
.logo {
  font-size: 20px;
  font-weight: bold;
  font-family: "Righteous", cursive;
  height: 20px;
  width: 250px;

  a {
    text-decoration: none;
    color: #2e2c2b;

    &:hover {
      color: gray;
    }
  }
  .name {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo2 {
      font-weight: normal;
      font-family: "Monoton", cursive;
      font-weight: 200;
      font-size: 40px;

      @media screen and (max-width: 400px) {
        font-size: 30px;
      }
    }
  }

  @media screen and (max-width: 800px) {
    font-size: 18px;
    padding-bottom: 20px;
  }
}
