.resume-page {
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 5vh;
  height: 100%;
  color: #3f3e3e;
  /*color: #555555;*/
  background-image: url('../../assets/paper.jpeg');
  /*background-color: lightgray; */

  border-radius: 15px;
  padding: 20px;
  font-family: "Righteous", cursive;
  margin-bottom: 15vh;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  hr {
    width: 20%;
    border-bottom: 3px solid lightgray;
  }

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @media screen and (max-width: 800px) {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .resume-title {
    color: #00449e;
  }

  a {
    text-decoration: none;
    color: #001b44;
    &:hover {
      color: white;
    }
  }

  .content {
    text-indent: 30px;
  }
}
