.project-card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 30vw;
  height: 450px;
  border: 1px solid gray;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
  font-family: "Righteous", cursive;
  @media screen and (max-width: 800px) {
    width: 100%;
    margin-left: 0px;
  }
  &:hover {
    transform: scale(1.02);
  }

  .project-image {
    height: 200px;
    width: auto;
    padding: 10px;

    img {
      background-size: cover;
      background-position: center;
      height: 100%;
      width: 100%;
    }
  }
  .project-details {
    padding: 10px;
    text-align: center;

    .project-name {
      text-shadow: 2px 2px lightgray;
    }
  }

  .project-buttons {
    margin-top: 10px;

    a {
      padding: 10px;

      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      color: gray;

      &:hover {
        color: lightgray;
      }
    }
  }
}
