.header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  color: white;
  font-family: "Righteous", cursive;
  @media screen and (max-width: 800px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-logo {
    font-size: 100px;
    font-weight: 200;
    font-family: "Monoton", cursive;
    padding-left: 10px;

    @media screen and (max-width: 800px) {
      font-size: 80px;
    }
  }

  .options {
    width: 30%;
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 30px;
    @media screen and (max-width: 800px) {
      font-size: 25px;
      justify-content: space-evenly;
    }

    .option {
      padding: 10px;
    }
    a {
      text-decoration: none;
      color: white;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
