.header {
  display: flex;
  margin-left: 5vw;
  margin-right: 5vw;
  justify-content: space-around;
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
  font-family: "Righteous", cursive;
  margin-bottom: 30px;
  @media screen and (max-width: 800px) {
  justify-content: space-between;
    
  }

  .hamburger {
    display: none;
    @media screen and (max-width: 800px) {
      display: block;
    }
  }
  .options {
    width: 30%;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    border-bottom: 1px solid #2e2c2b;
    @media screen and (max-width: 800px) {
      display: none;
      width: 80vw;
      font-size: 25px;
      justify-content: space-evenly;
      padding: 20px;
      margin-top: 30px;
    }

    .option {
      padding: 10px;
    }
    a {
      text-decoration: none;
      color: #2e2c2b;
      &:hover {
        transform: scale(1.07);
        color: gray;
      }
    }
  }
}
