.header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  color: gray;
  background-color: rgb(247, 236, 236);
  font-family: "Righteous", cursive;
  @media screen and (max-width: 800px){
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  

  .header-logo {
    font-size: 35px;
    color: rgb(20, 164, 231);
    text-shadow: 5px 5px lightgray;
    @media screen and (max-width: 800px){
        font-size: 25px;
    }
    
  }

  .options {
    width: 30%;
    display: flex;
    justify-content: space-around;
    color: gray;
    font-size: 30px;
    @media screen and (max-width: 800px){
        font-size: 25px;
        justify-content: space-evenly;
        
    }

    .option {
      color: gray;
      padding: 10px;
      &:hover {
        color: white;
      }
    }
    a {
      text-decoration: none;
      color: gray;
    }
  }
}
