.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #9397cd;
  height: 300px;

  .media-icons {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    
    @media screen and (max-width: 800px) {
      width: 100%;
      
    }
  }

  .icon {
    height: 32px;
    width: 32px;
    padding: 15px;
  }

  .git {
    .MuiSvgIcon-root {
      &:hover {
        color: brown;
      }
    }
  }
  .linkedin {
    .MuiSvgIcon-root {
      &:hover {
        color: #0073b1;
      }
    }
  }

  .mail {
    .MuiSvgIcon-root {
      &:hover {
        color: white;
      }
    }
  }
}
